<div class="new-staff">
    <div class="new-staff__section">
        <div class="new-staff__section-header">
            <h3>What's Popular</h3>
            <app-sun-switcher [labelsArray]="whereToWatch"
                              (atSwitch)="switchTo($event)">
            </app-sun-switcher>
        </div>

        <div class="new-staff__staff-list">

            <div class="new-staff__staff"
                 *ngFor="let movie of popularMovies$ | async | slice: 0:3; first as first">
                <a href="#" class="new-staff__staff-link">
                    <img class="new-staff__staff-image"
                         [src]="'https://image.tmdb.org/t/p/w500/' + movie.backdrop_path"
                         [alt]="movie.original_name">
                </a>
                <div class="new-staff__staff-info">
                    <img class="new-staff__staff-poster" *ngIf="first"
                         [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" [alt]="movie.original_name">
                    <ul>
                        <li class="new-staff__staff-header"
                            [textContent]="movie.name">
                        </li>
                        <li class="new-staff__staff-description"
                            [textContent]="movie.original_language">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="new-staff__staff-list">
            <div class="new-staff__staff">

            </div>

        </div>
    </div>
</div>
