/* You can add global styles to this file, and also import other style files */
@import "src/app/global-styles/colors";
@import "src/app/global-styles/mixins";
@import "src/app/global-styles/fonts";
@import "src/app/global-styles/vars";

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: $black-00;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h3 {
    margin: 0;
    display: block;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end:unset;
    @include text-h3;
}
